@mixin thailand-currency {
    &::after {
        content: "บาท";
        font-size: 80%;
    }
}

@function divide($a, $b) {
    @return $a / $b;
}

.amount {
    color: #333;
    font-size: 20px;
    padding: divide(60/2) * 1px;
    @include thailand-currency;
}

// ---------------------------------------------------

@mixin heading($size) {
    @if($size==large) {
        font-size: 40px;
    }

    @else if ($size==medium) {
        font-size: 24px;
    }

    @else if ($size==small) {
        font-size: 18px;
    }

    @else {
        font-size: 16px;
    }
}

h2 {
    @include heading(large);
}

h4 {
    @include heading(medium);
}

p {
    @include heading(hi);
}

// ---------------------------------------------------

@for $i from 1 through 3 {
    .box-#{$i} {
        width: 10 * $i;
    }
}

.box-1 {
    width: 10;
}

.box-2 {
    width: 20;
}

.box-3 {
    width: 30;
}

// ---------------------------------------------------

$i: 1;

@while $i < 4 {
    .box-#{$i} {
        width: 10 * $i;
    }

    $i: $i+1;
}

.box-1 {
    width: 10;
}

.box-2 {
    width: 20;
}

.box-3 {
    width: 30;
}

// ---------------------------------------------------

@each $place in lagos,
newyork,
paris {
    .place-#{$place} {
        background-image: url("img/place/#{$place}")
    }
}

.place-lagos {
    background-image: url("img/place/lagos");
}

.place-newyork {
    background-image: url("img/place/newyork");
}

.place-paris {
    background-image: url("img/place/paris");
}

@each $place,
$color,
$position in (lagos, blue, fixed),
(newyork, black, relative),
(paris, gray, absolute) {
    .place-#{$place} {
        background-image: url("img/place/#{$place}");
        border: 2px solid $color;
        position: $position;
    }
}

.place-lagos {
    background-image: url("img/place/lagos");
    border: 2px solid blue;
    position: fixed;
}

.place-newyork {
    background-image: url("img/place/newyork");
    border: 2px solid black;
    position: relative;
}

.place-paris {
    background-image: url("img/place/paris");
    border: 2px solid gray;
    position: absolute;
}

// ---------------------------------------------------

$animals: (animal1:fish, animal2:rat, animal3:monkey);

@each $key,
$animal in $animals {
    .#{$animal}-avatar {
        background-image: url('/img/#{$animal}.png');
    }
}

.fish-avatar {
    background-image: url("/img/fish.png");
}

.rat-avatar {
    background-image: url("/img/rat.png");
}

.monkey-avatar {
    background-image: url("/img/monkey.png");
}

// ---------------------------------------------------