.sass-ep1 {
  @include full-screen($c1);

  &.one {
    @include grid-center;

    div {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: $c2;
      border: 30px solid $c3;
      border-left: 30px solid $c2;
      border-right: 30px solid $c2;
      transform: rotate(45deg);
      box-shadow: 0 0 0 30px $c2;
      box-sizing: border-box;
    }
  }

  &.two {
    position: relative;

    &::after {
      @include position-center;
      content: "";
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: $c2;
      border: 30px solid $c3;
      border-left: 30px solid $c2;
      border-right: 30px solid $c2;
      transform: rotate(45deg);
      box-shadow: 0 0 0 30px $c2;
      box-sizing: border-box;
      z-index: 1;
    }
  }
}

.sass-ep2 {
  @include full-screen($c4);
  @include flex-center;
  position: relative;
  z-index: 0;

  div {
    width: 100px;
    height: 100px;
    margin: 20px;
    position: relative;
    background-color: $c3;
    border-radius: 50%;

    &:nth-child(1)::after {
      content: "";
      position: absolute;
      top: -50px;
      width: 100px;
      height: 150px;
      border-radius: 50px;
      background-color: $c2;
      z-index: -1;
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100px;
      height: 150px;
      border-radius: 50px;
      background-color: $c1;
      z-index: -1;
    }
  }
}

.sass-ep3 {
  @include full-screen($c5);
  @include flex-center;

  div {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    width: 100px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform-origin: bottom right;

    &:nth-child(odd) {
      background-color: $c6;
    }

    &:nth-child(even) {
      background-color: $c3;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transform: rotate(calc(90deg * #{$i}));
      }
    }
  }
}

.sass-ep4 {
  @include full-screen($c7);
  @include grid-center;

  .content {
    columns: 3 300px;
    gap: 10px;
    width: 80%;
    max-width: 1000px;
  }
}

.sass-ep5 {
  @include full-screen;
  @include grid-center;
  background: linear-gradient(45deg, #ff00fc, #0001ff, #00edff, #ff7700);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  .glass {
    width: 500px;
    height: 300px;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(#ffffff, 0.18);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.sass-ep6 {
  @include full-screen(#f8f8f8);
  @include grid-center;

  .card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
    border-radius: 20px;

    i {
      position: absolute;
      top: 40px;
      left: -15px;
      width: 200px;
      height: 50px;
      background: $c4;
      border-radius: 30px;
      border-bottom-left-radius: 0;

      &::before {
        content: "";
        position: absolute;
        top: 50px;
        width: 15px;
        height: 30px;
        background: #333;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50px;
        width: 15px;
        height: 15px;
        background: $c4;
        z-index: 1;
      }
    }
  }
}

.sass-ep7 {
  @include full-screen(#ccc);
  @include grid-center;

  .card {
    width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;

    .image {
      width: 90%;
      margin: 0 auto;
      height: 100%;

      .img {
        background: url("https://images7.alphacoders.com/112/thumb-1920-1124067.jpg");
        background-size: 130%;
        background-position-x: center;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: background-size 0.3s ease-in-out;
      }
    }

    .content {
      color: white;
      position: absolute;
      padding: 15px;
      bottom: 0;
      height: 50px;
      background: rgb(0 0 0 / 50%);
      backdrop-filter: blur(20px);
      border-radius: 15px;
      transition: height 0.3s ease-in-out;

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 20px;
        font-weight: 600;
      }

      p {
        font-size: 14px;
        font-weight: 200;
        margin-top: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }

    button {
      float: right;
      padding: 5px 10px;
      background: #0aa0e2;
      border: 0;
      color: white;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: #098fc8;
      }
    }

    &:hover {
      .img {
        background-size: 100%;
      }

      .content {
        height: 78%;

        p {
          opacity: 1;
        }
      }
    }
  }
}

.sass-ep8 {
  @include full-screen($c8);
  @include grid-center;

  div {
    background-color: $c9;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 150px;
      aspect-ratio: 1;
      background-color: $c10;
      top: 90px;
      left: 68px;
      transform: rotate(45deg);
      box-shadow: -30px 130px $c10;
    }
  }
}

.sass-ep9 {
  @include full-screen($c5);
  @include grid-center;

  .door {
    background-color: $c6;
    width: 100px;
    height: 150px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    i {
      position: relative;
      background-color: $c5;
      width: 100%;
      height: 20px;
      border-top: 4px solid $c6;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          left: calc(100% - calc(20% * $i));
        }
      }
    }
  }
}

.sass-ep10 {
  @include full-screen($c5);
  @include flex-center;

  i {
    position: relative;
    width: 80px;
    height: 80px;
    // background: $c12;
    border-radius: 50%;

    margin: 1px;
    border: 20px solid $c12;

    &:first-child {
      border-color: $c11;
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: -40px;
      right: -20px;
      width: 20px;
      height: 65px;
      background-color: $c12;
      border-radius: 20px;
    }
  }
}

.sass-ep11 {
  @include full-screen($c13);
  @include grid-center;

  i {
    position: relative;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: $c15;
    box-shadow: 0 0 0 37px $c13, 0 0 0 67px $c14;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $c13;
    }

    &::before {
      top: -68px;
      width: 100%;
      height: calc(100% + 2px);
    }

    &::after {
      left: -68px;
      width: calc(100% + 2px);
      height: 100%;
    }
  }
}

.sass-ep12 {
  height: 100vh;
  $elements: 10;

  @for $i from 1 through $elements {
    $red: ($i * 10)+150;
    $green: (($i * 10)+150)/2;
    $blue: (($i * 10)+150)/2;

    div:nth-child(#{$i}) {
      background: rgb($red, $green, $blue);
      width: 100%;
      height: 10%;
      box-shadow: 0 -1px #{($elements - $i) * 2}px rgba(0, 0, 0, 0.7);
    }
  }
}

.sass-ep13 {
  @include full-screen($c16);
  @include grid-center;

  > div {
    @include flex-center;
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(45deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 220px;
      background-color: $c17;
      border-radius: 50px;
    }

    &::after {
      transform: rotate(90deg);
    }

    i {
      position: absolute;
      display: block;
      z-index: 1;

      &:nth-child(1) {
        width: 100%;
        height: 100%;
        background-color: $c16;
      }

      &:nth-child(2) {
        width: 60px;
        height: 60px;
        background-color: $c18;
        border-radius: 50%;
      }
    }
  }
}

.sass-ep14 {
  $val: 40px;
  $half: #{$val / 2};
  $quarter: #{$val / 4};
  $corner: -#{$half};
  $pos: calc(50% - $half);

  @include full-screen($c5);
  position: relative;
  overflow: hidden;

  > i {
    content: "";
    position: absolute;
    border-radius: $half;

    &:nth-child(1) {
      top: $corner;
      left: $pos;
      width: $val;
      height: 50%;
      background-color: $c10;
    }

    &:nth-child(2) {
      bottom: $corner;
      left: $pos;
      width: $val;
      height: 50%;
      background-color: $c10;
    }

    &:nth-child(3) {
      bottom: $pos;
      left: $corner;
      width: 50%;
      height: $val;
      background-color: $c19;
    }

    &:nth-child(4) {
      top: $pos;
      right: $corner;
      width: 50%;
      height: $val;
      background-color: $c19;
    }
  }
}

.sass-ep15 {
  @include full-screen($c20);
  @include grid-center;

  > div {
    position: relative;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: $c21;

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      left: -60px;
      width: 60px;
      height: 60px;
      background-color: $c23;
      transform-origin: bottom right;
      transform: rotate(37deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: -80px;
      right: -80px;
      width: 80px;
      height: 80px;
      background-color: $c22;
      transform-origin: bottom left;
      transform: rotate(-53deg);
    }
  }
}

.sass-ep16 {
  @include full-screen($c24);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  footer {
    position: relative;
    width: 100%;
    min-height: 220px;
    padding: 20px 50px;
    overflow: hidden;

    @include flex-center;
    flex-direction: column;

    .social_icon,
    .menu {
      @include flex-center;
      position: relative;
      flex-wrap: wrap;
      padding: 0;
      margin-top: 15px;
      gap: 15px;

      li {
        list-style: none;

        a {
          display: inline-block;
          transition: 0.3s ease-out;
          font-size: 1rem;
          color: white;
          opacity: 0.75;

          &:hover {
            opacity: 1;
            transform: translateY(-10px);
          }
        }
      }
    }

    .menu {
      margin-bottom: 20px;
    }

    p {
      color: black;
      font-size: 0.7rem;
      text-align: center;
      z-index: 10;
    }

    .waves {
      // height: 5%;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #0099ff;

      .wave {
        background: url(../public/wave.svg) repeat-x;
        position: absolute;
        top: -190px;
        width: 6400px;
        height: 200px;
        animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
      }

      .wave:nth-of-type(1) {
        top: -175px;
        animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
          swell 7s ease -1.25s infinite;
        opacity: 1;
      }

      @keyframes wave {
        0% {
          margin-left: 0;
          // background-position-x: 0;
        }
        100% {
          margin-left: -1600px;
          // background-position-x: 1600px;
        }
      }

      @keyframes swell {
        0%,
        100% {
          transform: translate3d(0, -25px, 0);
        }
        50% {
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }
}

.sass-ep17 {
  @include full-screen($c24);
  @include grid-center;

  ul {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;

      a {
        color: white;
        position: relative;
        @include flex-center;
        flex-direction: column;

        .icon {
          position: relative;
          line-height: 75px;
          transition: 0.5s;
          font-size: 35px;
        }

        .text {
          position: absolute;
          font-size: 12px;
          bottom: 21px;
          font-weight: 400;
          transition: 0.25s ease;
          text-transform: uppercase;
          transform: scale(0);
          line-height: 1;
        }
      }

      &.active {
        a {
          .icon {
            transform: scale(0.5) translateY(-15px);
          }

          .text {
            transform: scale(1);
          }
        }
      }

      $colors-list: #f53b57, #5d62fb, #05c46b, #0fbcf9, #ffa801;
      @each $current-color in $colors-list {
        $i: index($colors-list, $current-color);
        &:nth-child(#{$i}).active ~ .indicator {
          background-color: $current-color;
          box-shadow: 0 5px 15px rgba($current-color, 0.5);
          transform: translateX(calc(70px * #{$i - 1}));
        }
      }
    }

    .indicator {
      position: absolute;
      left: 0;
      width: 70px;
      height: 70px;
      border-radius: 10px;
      transition: 0.5s;
      z-index: 0;
    }
  }
}
