$c1: #e38f66;
$c2: #aa445f;
$c3: #f7ec7d;
$c4: #62306d;
$c5: #191919;
$c6: #4f77ff;
$c7: #705e78;
$c8: #293462;
$c9: #fff1c1;
$c10: #fe5f55;
$c11: #714b67;
$c12: #8f8f8f;
$c13: #f3ac3c;
$c14: #998235;
$c15: #1a4341;
$c16: #243d83;
$c17: #6592cf;
$c18: #eeb850;
$c19: #a64942;
$c20: #d25b70;
$c21: #f7f3da;
$c22: #f6df96;
$c23: #6cb3a9;
