$color-1: #e38f66;
$color-2: #aa445f;
$color-3: #f7ec7d;
$color-4: #62306d;
$color-5: #191919;
$color-6: #4f77ff;
$color-7:#705E78;
$color-8:#293462;
$color-9:#fff1c1;
$color-10:#fe5f55;
$color-11:#714b67;
$color-12:#8f8f8f;
$color-13: #f3ac3c;
$color-14:#998235;
$color-15:#1a4341;